<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>edu.iastate.demote.privileges</string>
	<key>StandardOutPath</key>
	<string>/var/log/privilegesout.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/privilegeserror.log</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/PrivilegesCheckAdmin.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>60</integer>
	<key>EnableLocalLog</key>
	<string>true</string>	
	<key>TimeLimit</key>
	<integer>20</integer>
</dict>
</plist>